/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

hr {
  border: none;
}

pre {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
samp {
  font-family: monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  appearance: button;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  display: block;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}
